#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.audioRecorder {
  margin-top: 32px;
}

.submit {
  margin-top: 64px;
  width: 112px;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.noteContainer {
  border: 1px solid grey;
  min-height: 15rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.button-container {
  margin-top: 8px;
}

.speech-container {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
}







.page-loader{
  display: flex;
  flex-direction: column;
  gap: 92px;
  justify-content: center;
  align-items: center;
 
}

.txt{
  color: #666;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Spinner animation */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}